import migrationCallback from './migration';

const schemas = [];
<% schemas.forEach((schema) => { %>
import <%- schema %> from './<%- schema %>';
schemas.push(<%- schema %>);
<% }); %>

export default {
    schema: schemas,
    schemaVersion: <%- schemaVersion %>,
    migration: migrationCallback,
};