const migrations = [];
<% migrationDirs.forEach((migrationDir) => {%>
import migration<%- migrationDir.prefix %> from './<%- migrationDir.dirname %>/';
migrations.push(migration<%- migrationDir.prefix %>);
<% }); %>

export default migrations;